body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%; 
	float: left;
	margin: 1.66%;
	border-radius: 20px;
	transition: background 0.4s;
	--webkit-transition:background 0.4s;
	--moz-transition:background 0.4s;
}

#container {
	margin: 20px auto;
	max-width: 800px;

}

#colorDisplay {
	font-size: 200%;
}
h1 {
	color: white;
	line-height: 1.1;
	text-align: center;
	background: steelblue;
	margin: 0 auto;
	font-weight: normal;
	text-transform: uppercase; 
	padding: 20px 0;
}


#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background-color: steelblue;
	color: white;
}

button {
	text-transform: uppercase;
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}

#message {
	width: 20%;
	display:inline-block;
}

button:hover {
	color:white;
	background: steelblue;
}